materials/*
hdris/*
indoor_hdris/*
indoor/hdris/*
__pycache__/
*.pyc
*.blend
*.mp4
*.png
*.jpg
*.jpeg
*.hdr
*.exr
assets/DecorativeModels/*
assets/materials/*
assets/indoor/hdris/*
slurm_error_12903.log slurm_error_12906.log slurm_output_12903.log slurm_output_12906.log
*.log
